.song-row {
    transition: background-color 0.2ms linear;
    &_active {
        background-color: #eeeeee;
    }
    &:hover {
        background-color: #eeeeee;
        cursor: pointer;
        transition: background-color 0.2s linear;
    }
    td {
        height: 30px;
        border-bottom: 1px solid silver;
        svg {
            color: #666666;
        }
        &:last-child {
            width: 90px;
            text-align: center;
            svg {
                margin-left: 5px;
            }
        }
    }
}